<h2>My heroes</h2>

<div class="paginatorContainer">
  <ul class="pages">
    <li *ngFor="let page of pages" (click)="onSelectRange(page)" [class.selected]="page === selectedRangeStart">
      [{{ page + 1 }} - {{ page + 10 }}]
    </li>
  </ul>
</div>

<br>

<div class="heroesListContainer">
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>

<div *ngIf="selectedHero" class="selectedHeroBox">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
